<mat-toolbar>Checkbox</mat-toolbar>

<div class="container">

  <mat-checkbox>Check me!</mat-checkbox>

  <div class="mat-subheading-2">Checkbox label</div>

  <mat-checkbox labelPosition="before">Check me!</mat-checkbox>

  <div class="mat-subheading-2">Indeterminate state</div>

  <mat-checkbox labelPosition="before" indeterminate="true">Check me!</mat-checkbox>

  <div class="mat-subheading-2">Click action config</div>

  <div class="mat-subheading-2"> Theming</div>

  <mat-checkbox color="primary">Check me!</mat-checkbox>

</div>
