<mat-toolbar>Input</mat-toolbar>

<div class="container">

  <div class="mat-subheading-2">&lt;input&gt; and &lt;textarea&gt; attributes</div>

  <mat-form-field appearance="outline">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Number</mat-label>
    <input matInput type="number">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Text Area</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <div class="mat-subheading-2">Supported &lt;input&gt; types</div>

  <mat-form-field appearance="outline">
    <mat-label>Text</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput type="search">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>URL</mat-label>
    <input matInput type="url">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tel</mat-label>
    <input matInput type="tel">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Color</mat-label>
    <input matInput type="color">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput type="date">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Time</mat-label>
    <input matInput type="time">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>DateTime-Local</mat-label>
    <input matInput type="datetime-local">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Month</mat-label>
    <input matInput type="month">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Week</mat-label>
    <input matInput type="week">
  </mat-form-field>

  <div class="mat-subheading-2">Auto-resizing &lt;textarea&gt; elements</div>

  <mat-form-field appearance="outline">
    <mat-label>Text Area</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
  </mat-form-field>

</div>
