<mat-toolbar>Radio Button</mat-toolbar>

<div class="container">

  <mat-radio-group area-label="Select an option">
    <mat-radio-button value="1" class="mr-3">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>

  <div class="mat-subheading-2">Radio-button label</div>

  <mat-radio-group area-label="Select an option">
    <mat-radio-button value="1" labelPosition="before" class="mr-3">Option 1</mat-radio-button>
    <mat-radio-button value="2" labelPosition="before">Option 2</mat-radio-button>
  </mat-radio-group>


</div>
