<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset | async">
    <mat-icon>menu</mat-icon>
  </button>
  <span>angular-material-play</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [mode]="(isHandset | async) ? 'over' : 'side'"
    [opened]="(isHandset | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/buttons-and-indicators">Buttons & Indicators</a>
      <a mat-list-item href="/css-classes">CSS Classes</a>
      <a mat-list-item href="/forms">Forms</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
